/**

*/
html, body {
    font-family: Arial;
    font-size: 10pt;
    color: #4A7729;
}

body
{
    text-align: left;
    background-size: 28%; 
    margin: 2%;
    padding: 0;
}

.cabecera {
    /*    border: 1px solid #4A7729;*/
    background-color: #B1DCB4;
    color: #4A7729;
}
.logo {
    height: 85px;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('/images/corporativo-a.png');
    margin: 0 0 0 0;
}
.title {
    height: 70px;
    margin: 10px 0 0 0;
    text-align: center;
    font-size: 30px;
    padding-top:10px;
}
.fecha {
    height: 70px;
    margin: 10px 0 0 0;
    padding-top: 10px;
    font-size: 15px;
}
.login {
    margin: 5% 30% 5% 30%;
}
.ncc-panel{
    text-align: left;
    font-size: 110%;
}
.contenido {
    float: left;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #4A7729 /*#C1022C*/;
    padding: 10px 0 0 0;
}
.linea{
    margin: 2px 4px 2px 4px;
    border-top: 2px solid #4a7729
}
.label{
    margin:4px;
}
.collapsable-group {
    border: 1px solid #4a7729;
    margin-top: 4px;
    padding: 10px;
    float:left;
}
input.ng-invalid.ng-dirty {
    background-color: #FA787E;
}
input.ng-valid.ng-dirty {
    background-color: #78FA89;
}
.pie {
    height: 30px;
    padding-top: 5px;
    text-align: center;
}

.historic {
    padding-left: 25px;
    padding-right: 25px;
}

.historic-info{
    margin-bottom: 10px;
}

.historic-ctrl {
}

table.dataTable tbody td {
    vertical-align: top;
}

.ncc-normal {
    color: black;
}
    .ncc-normal:hover {
        color: black;
        background-color: lightgray;
    }
    .ncc-normal:focus {
        color: black;
        background-color: lightgray;
        border: none;
    }
.ncc-warning {
    color: orange;
}
    .ncc-warning:hover {
        color: orange;
        background-color: lightgray;
    }
    .ncc-warning:focus {
        color: orange;
        background-color: lightgray;
        border: none;
    }
.ncc-fail {
    color: red;
}
    .ncc-fail:hover {
        color: red;
        background-color: lightgray;
    }
    .ncc-fail:focus {
        color: red;
        background-color: lightgray;
        border: none;
    }
.ncc-active{
    background-color: lightgray;
}


/* Estilos antiguos. Para borrar */
div#agrupar {
    margin-left: 2%;
    width: 96%;
    height: 90%;
    text-align: left;
    /* 	border: 1px solid #C1022C; */
}

    /* #agrupar
{
    margin: 15px auto;
} */

    /** */
    div#agrupar header#cabecera {
        height: 70px;
        padding: 0;
    }

#cabecera #_contSupIzq {
    border: 1px solid #4A7729 /*#C1022C*/;
    display: inline;
    float: left;
    height: 70px;
    width: 18%; /* 180px; */
    padding-left: 10px;
    border-radius: 5px 0 0 0;
}

    #cabecera #_contSupIzq #_logo
    {
        display: block;
        float: left;
        width: 128px;
        height: 64px;
        margin: 5px;
        /* margin-left: 5px; */
		padding: 5px;
    }

#cabecera #_tit_ppal {
    float: left;
    width: 60%;
    height: 70px;
    text-align: center;
    margin-left: 1%;
    border: 1px solid #4A7729/*#C1022C*/;
    font-size: 150%;
    padding-top: 0.7em;
}

#cabecera div#_contSupDrcha {
    width: 20%;
    margin-left: 1%;
    display: inline;
    float: right;
    height: 70px;
    padding-top: 4px;
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
    border: 1px solid #4A7729 /* #C1022C*/;
    border-radius: 0 5px 0 0;
}

    #cabecera div#_contSupDrcha div#_hfecha
    {
        float: right;
        display: inline;
        margin-top: 2px;
        width: 100%;
        text-align: right;
    }

    #cabecera div#_contSupDrcha div#_hsolohora
    {
        float: right;
        display: inline;
        margin-top: 5px;
        width: 100%;
        text-align: right;
    }

    #cabecera div#_contSupDrcha div#_usuario {
        display: inline;
        float: right;
        text-align: center;
        width: 100%;
        margin-top: 2px;
        border: 1px solid #4A7729 /* #C1022C*/;
        border-bottom-width: 2px;
        /*border-radius: 3px 3px 0 0;*/
    }

#cabecera #_manual
{
    text-align: left;
    margin-left: 5px;
    font-size: 55%;
}

div#agrupar nav#_menu {
    float: left;
    width: 18%;
    height: 70%;
    padding: 0;
    margin-top: 8px;
    margin-bottom: 10px;
    border: 1px solid #4A7729 /*#C1022C*/;
    border-radius: 5px 5px 5px 5px;
    overflow: hidden;
}

#_menu h3 {
    font-size: 110%;
    /*background-color: #C1022C;
    color: white;*/
    background-color: #4A7729;
    color: white;
    margin-top: 0px;
    padding-left: 10px;
    padding-bottom: 4px;
    border-radius: 5px 5px 0 0;
}

#_menu ul
{
    width: 80%;
    margin-left: 5%;
    margin-bottom: 20px;
}

#menu ul li:nth-child(4)
{
    margin-top: 5em;
}

#_ppalerror
{
    float: right;
    width: 81%;
    margin-top: 10px;
    margin-left: 1%;
    margin-bottom: 10px;
    border: 1px solid black;
}

    #_ppalerror #img
    {
        text-align: center;
        margin-top: 1em;
    }

    #_ppalerror h2
    {
        text-align: center;
        margin-top: 1em;
        margin-bottom: 10em;
    }



    .login .btn
    {
        float: right;
    }

section#_ppal
{
    float: right;
    width: 81%;
    margin-top: 10px;
    margin-left: 1%;
    /*     border: 1px solid #C1022C;
	height: 2em;
 */
}

    section#_ppal h3 {
        font-size: 110%;
        background-color: #4A7729/*#C1022C*/;
        color: white;
        margin-top: 0px;
        padding-left: 10px;
        padding-bottom: 4px;
        border-radius: 5px 5px 0 0;
    }

    section#_ppal #_tabs
    {
        float: left;
        width: 100%;
    }

#_contenido {
    float: left;
    /*     
	width: 80%;
    height: 525px;
    max-height: 525px;
 */
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #4A7729/*#C1022C*/;
    border-radius: 0 0 0 5px;
    /*background: #C1022C;
    background: -moz-linear-gradient(top, rgba(192,2,43,1) 0%, rgba(192,2,43,0.21) 15%, rgba(255,255,255,0.49) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(192,2,43,0,21)), color-stop(0%, rgba(192,2,43,1)), color-stop(100%, rgba(255,255,255,0.49)));
    background: -webkit-linear-gradient(top, rgba(192,2,43,0.21) 0%, rgba(192,2,43,0.21) 0%, rgba(255,255,255,0.49) 100%);
    background: -o-linear-gradient(top, rgba(192,2,43,0.21) 0%, rgba(192,2,43,0.21) 0%, rgba(255,255,255,0.49) 100%);
    background: -ms-linear-gradient(top, rgba(192,2,43,0.21) 0%, rgba(192,2,43,0.21) 0%, rgba(255,255,255,0.49) 100%);
    background: linear-gradient(to bottom, rgba(192,2,43,0.21) 0%, rgba(192,2,43,0.21) 0%, rgba(255,255,255,0.49) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c0022b', endColorstr='#ffffff', GradientType=1 );*/
}

    #_contenido h1
    {
        font-size: 120%;
        text-align: center;
    }

    /*#_contenido .row*/
    .hw .row
    {
        width: 98%;
        margin-left: 1%;
    }

    #_contenido #spvOperadores .row
    {
        width: 96%;
        margin-left: 2%;
    }

    #_contenido img.noinfo    
	{
        /*-webkit-filter: blur(2px);
        filter: blur(2px);*/
        /* -webkit-filter: drop-shadow(6px 6px 1px grey);  */
        /* filter: drop-shadow(6px 6px 1px grey); */
		box-shadow: 6px 6px 10px grey;
        color: li
    }

    #_contenido img.ok    
	{
		/* Chrome, Safari, Opera */
        /* -webkit-filter: drop-shadow(4px 4px 4px green);  */
        /* filter: drop-shadow(4px 4px 4px green); */
		box-shadow: 6px 6px 10px green;
    }

    #_contenido img.fallo    
	{
        /* -webkit-filter: drop-shadow(4px 4px 4px red);*/ /* Chrome, Safari, Opera */ 
        /* filter: drop-shadow(4px 4px 4px red); */
		box-shadow: 6px 6px 10px red;
    }

    #_contenido img.aviso    
	{
        /* -webkit-filter: drop-shadow(4px 4px 4px orange); *//* Chrome, Safari, Opera */
        /* filter: drop-shadow(4px 4px 4px orange);  */
		box-shadow: 6px 6px 10px orange;
    }

    #_contenido img.ppal    
	{
        /* -webkit-filter: drop-shadow(4px 4px 4px blue); *//* chrome, safari, opera */
        /* filter: drop-shadow(4px 4px 4px green); */
		box-shadow: 6px 6px 10px green;
    }

    #_contenido img.rsva    
	{
        /* -webkit-filter: drop-shadow(4px 4px 4px blue); *//* Chrome, Safari, Opera */ 
        /* filter: drop-shadow(4px 4px 4px blue); */
		box-shadow: 6px 6px 10px blue;
    }

    #_contenido #spvPasarelas #control a p
    {
        text-align: center;
        margin: 0;
    }

#_contenido .div_titulo
{
    font-size: 90%;
    text-align: center;
    margin: 10px;
    white-space: pre-line;
}

#gwDataModal h4
{
    text-align: center;
}

#gwDataModal table
{
    color: black;
    font-size: 80%;
}

    #gwDataModal table tr td
    {
        padding-top: 3px;
        padding-bottom: 3px;
    }

.std_fallo
{
    color: red;
}

body .modal
{
    /* new custom width */
    /* width: 560px; */
    /* must be half of the width, minus scrollbar on the left (30px) */
    /* margin-left: 280px;*/
    width: 80%;
    margin-left: 10%;
}

#gwVersionModal h4
{
    text-align: center;
}

#gwVersionModal p
{
    text-align: justify;
    color: black;
    margin: 2px;
    margin-left: 10px;
}

.ndf-ver-01 {
    font-size: 120%;
    color: #4A7729/*#C1022C*/;
}
    .ndf-ver-02
    {
        white-space:normal;
        word-wrap:break-word;
        text-align: left;
        font-size: 90%;
        padding: 4px; 
        white-space: normal;
    }
    .ndf-ver-03
    {
        padding: 4px; 
        font-size: 80%;
        color: red;
    }

#hisGestor .table
{
    width: 99%;
    margin-left: 0.5%;
}

#hisGestor .table tr
{
	border: 0;
}

#fhis
{
    padding-bottom: 3px;
    border-bottom: 1px solid black;
}

 
    #fhis .row
    {
        margin: 3px;
    }

    #fhis .text-info
    {
        font-size: 80%;
    }

    #fhis .btn
    {
        padding-top: 1px;
        padding-bottom: 1px;
        padding-left: 6px;
        padding-right: 6px;
        /*float: right;*/
        /*margin-right: 5px;*/
        /*font-size: 80%;*/
    }

#chis .btn
{
    padding-top: 1px;
    padding-bottom: 1px;
    float: right;
    margin-right: 5px;
    margin-bottom: 5px;
    /*font-size: 90%;*/
}

#hfiltroModal .row
{
    margin-bottom: 3px;
}

#hfiltroModal .input-group select
{
    font-size: 75%;
}

#hfiltroModal .input-group li a
{
    font-size: 75%;
}

#hfiltroModal .input-group .datepicker
{
    font-size: 75%;
}

#hfiltroModal .bhis
{
    margin: 1px;
    font-size: 75%;
    float: left;
}

#hfiltroModal #list_inci
{
    height: 10em;
}


#hisGestor .hisTable tr td
{
    font-size: 70%;
    padding: 2px;
    color: black;
}


#hisGestor #tbhis table
{
    margin-bottom: 0px;
}

    #hisGestor #tbhis table tr td:first-child
    {
        width: 12em;
    }

    #hisGestor #tbhis table tr td:nth-child(2)
    {
        padding-left: 1em;
        width: 6em;
        color: blue;
    }

    #hisGestor #tbhis table tr td:nth-child(4)
    {
        width: 12em;
        color: red;
    }

    #hisGestor #tbhis table tr td:nth-child(5)
    {
        width: 8em;
    }

#hisGestor .pagination
{
    margin-top: 1px;
    margin-bottom: 1px;
}

/*#hisGestor #bthis
{
    float: right;
    margin: 0px;
}

    #hisGestor #bthis .btn
    {
        margin: 5px;
    }*/

#daterange
{
    width: 22em;
}

#estGestor h2
{
    text-align: center;
}

#estGestor table
{
    width: 99%;
    margin-left: 0.5%;
}

#estGestor .table tr
{
	border: 0;
}

#estGestor .filTable {
    border-bottom: 1px solid #4A7729/*#C1022C*/;
    margin-top: 5px;
    padding-bottom: 10px;
    margin-bottom: 5px;
}

    #estGestor .filTable tr
    {
        vertical-align: top;
    }

        #estGestor .filTable tr td
        {
            padding: 2px;
            width: 12em;
        }

            #estGestor .filTable tr td:nth-child(3)
            {
                width: 8em;
            }

            #estGestor .filTable tr td:nth-child(5)
            {
                text-align: right;
            }

#estGestor #tbest table
{
    margin-bottom: 0px;
    width: 60%;
    margin-left: 20%;
}

    #estGestor #tbest table tr td:nth-child(2)
    {
        text-align: right;
    }

#estGestor #btest
{
    float: right;
    margin: 0px;
}

    #estGestor #btest .btn
    {
        margin: 5px;
    }

#estGestor .filTable .input-group select
{
    font-size: 75%;
}

#estGestor .filTable .input-group .datepicker
{
    font-size: 75%;
}

#estGestor .filTable .btnhis
{
    margin: 1px;
    font-size: 75%;
}

#fest .row
{
    margin-left: 1em;
}

    #fest .row .form-control
    {
        font-size: 80%;
    }

#cfgGestion table
{
    width: 60%;
    margin-left: 20%;
    margin-bottom: 10px;
}

#cfgGestion .table tr td:nth-child(2)
{
    text-align: right;
}

#cfgGestion .text-right
{
    width: 60%;
    margin-left: 20%;
    margin-bottom: 10px;
    margin-top: 1px;
}

#cfgIncidencias table
{
    width: 96%;
    margin-left: 2%;
    margin-bottom: 5px;
	border:0;
}

    #cfgIncidencias table tr td
    {
        padding-top: 1px;
        padding-bottom: 1px;
    }

#cfgIncidencias .pagination
{
    margin: 1px;
    padding: 1px;
}

#cfgIncidencias .text-right
{
    width: 96%;
    margin-left: 2%;
    margin-bottom: 5px;
    margin-top: 1px;
}

.cfgServidor .table
{
    width: 80%;
    margin-left: 10%;
    margin-bottom: 5px;
}

.cfgServidor .btngen
{
    width: 80%;
    margin-left: 10%;
    margin-bottom: 5px;
    margin-top: 5px;
}

.cfgServidor .table tr td
{
        padding-top: 1px;
        padding-bottom: 1px;
}
.cfgServidor .table tr td:nth-child(2)
{
    text-align: right;
    width: 65%;
}

.cfgServidor .snmpuserstype
{
    width: 12em;
    float: left;
    /*border: 1px solid #C1022C;*/
    text-align: left;
}


/** V2. */
#inci
{
    float: left;
    width: 100%;
}

    #inci h1
    {
        font-size: 110%;
        text-align: center;
        /*border-top: 1px solid #C1012C;*/
        padding-top: 3px;
    }

    #inci .table {
        margin-top: 2px;
        border-top: 1px solid #4A7729/*#C1012C*/;
        font-size: 80%;
    }

	#inci .table tr
	{
		border: 0;
	}
	
    #inci .table tr td
    {
        padding: 3px;
    }

        #inci .table tr td:first-child
        {
            width: 15%;
        }

        #inci .table tr td:nth-child(3)
        {
            width: 15%;
        }

    #inci .table thead tr th:nth-child(3)
    {
        text-align: right;
    }

    #inci .btn
    {
        padding-top: 1px;
        padding-bottom: 1px;
        float: right;
        /*margin-right: 5px;*/
        font-size: 80%;
    }

    #inci .pagination
    {
        margin-top: 1px;
        margin-bottom: 1px;
    }

/** */
#_pie {
    clear: both;
    text-align: center;
    padding: 6px;
    color: #4A7729 /*#C1012C*/;
    font-weight: bold;
    width: 100%;
    border: 1px solid #4A7729/*#C1012C*/;
    border-radius: 3px 3px 3px 3px;
    background-color: transparent;
}


/** LED Class */
.led
{
    margin: 20px auto;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.25);
    box-shadow: #000 0 -1px 6px 1px;
}

.led-red
{
    background-color: #F00;
    box-shadow: #000 0 -1px 6px 1px, inset #600 0 -1px 8px, #F00 0 3px 11px;
}

.led-orange
{
    background-color: #FF7000;
    box-shadow: #000 0 -1px 6px 1px, inset #630 0 -1px 8px, #FF7000 0 3px 11px;
}

.led-yellow
{
    background-color: #FF0;
    box-shadow: #000 0 -1px 6px 1px, inset #660 0 -1px 8px, #FF0 0 3px 11px;
}

.led-green
{
    background-color: #80FF00;
    box-shadow: #000 0 -1px 6px 1px, inset #460 0 -1px 8px, #80FF00 0 3px 11px;
}

.led-blue
{
    background-color: #06F;
    box-shadow: #000 0 -1px 6px 1px, inset #006 0 -1px 8px, #06F 0 3px 11px;
}

/** */
.popover-content
{
    font-size: 75%;
    padding-left: 5px;
    padding-right: 5px;
}

    .popover-content strong
    {
        color: black;
    }

    .popover-content i {
        color: #C1022C;
    }

    .popover-content table td:nth-child(2)
    {
        padding-left: 2px;
        padding-right: 2px;
    }

/* Nuevas pantallas sesiones */
.stdfrec
{
    width: 96%;
    margin-left: 2%;
    padding-top: 1em;
}

    .stdfrec .stdfrec-row
    {
        width: 100%;
    }

    .stdfrec .list-group-item
    {
        padding-top: 2px;
        padding-bottom: 2px;
    }

    .stdfrec .row
    {
        padding: 3px;
    }

    .stdfrec button
    {
        padding-top: 2px;
        padding-bottom: 2px;
    }

    .stdfrec .level-1
    {
        font-size: 8pt;
    }

    .stdfrec .level-2
    {
        font-size: 7pt;
        padding-left: 4px;
        padding-right: 4px;
        min-width: 4em;
    }

    .stdfrec div.level-2
    {
        margin-left: 4px;
        margin-bottom: 1px; 
        width: auto;       
    }

    .stdfrec table
    {
        font-size: 7pt;
        min-width: 13em;
    }

        .stdfrec table td:first-child
        {
            min-width: 4em;
        }

/* Nuevas Pantallas M+N*/
    .mnman table
    {
        margin: 0;
    }

    .mnman table tr td
    {
        padding: 2px;
        font-size: 8pt;
    }

     .mnman table tr td button.btn 
     {
            padding-top: 1px;
            padding-bottom: 1px;    
            margin-left: 5px;
            font-size: 8pt;
     }
 
     .mnman table tr td table 
     {
            padding-top: 1px;
            padding-bottom: 1px;
            font-size: 7pt;
     }

     .mnman .mdsel
    {
        margin: 4px;
        text-align: right;
    }
    .mnman h4
    {
        text-align:center;
        font-size: 11pt;
    }

.mv-0
{
    margin-top: 0;
    margin-bottom: 0;
}

.pv-0
{
    padding-top: 0;
    padding-bottom: 0;
}

.pv-1
{
    padding: 1px;
}

/** PANTALLA SACTA 
    GRIS_CORP = "#5B5A5D";
    ROJO_CORP = "#C1022C";
*/
.sacta
{
    width: 90%;
    margin-left: 5%;
    padding-top: 1em;
    padding-bottom: 1em;
}

    .sacta .row
    {
        margin-top: 1em;
    }

        .sacta .ctrl
        {
            margin-top: 3em;
        }

    .sacta input.ng-invalid {
    background-color: pink;
}
    /** Para presentacion operadores */
.tops
{
    display: inline-block;
    width: 100%;
}

    /** Clases para depurar */
.dbg {
    border: 2px solid #4A7729/* #C1022C*/;
}

.hyp-none
{
    hyphens: none;
    white-space: nowrap;
}

.test
{
    float:right;
}

/*** BORRAR ***/

/*input[type="text"]:disabled
{
    background: white;
}*/


#_separador
{
    clear: both;
}

/** */


/** */
#_nh1
{
    float: left;
    width: 76.5%; /* 80.5% */
}

article {
    background: #FFFBCC;
    border: 1px solid #999999;
    padding: 20px;
    margin-bottom: 15px;
    border-bottom: solid 2px #4A7729/*#C1022C*/;
}

    article footer
    {
        text-align: right;
    }

time
{
    color: #999999;
}


figcaption
{
    font: italic 14px verdana, sans-serif;
}

.pcenter
{
    text-align: center;
    margin-top: 2em;
    margin-bottom: 1em;
}

.negrita
{
    font-weight: bold;
}

.buttonLargo, .buttonMedio, .buttonCorto
{
    border: 1px solid #5B5A5D;
    border-radius: 3px;
    color: #5B5A5D;
    display: inline-block;
    text-decoration: none;
    height: 25px;
    width: 180px;
    margin-right: 3px;
}

.buttonMedio
{
    width: 80px;
}

.buttonCorto
{
    width: 40px;
}

    .buttonLargo:hover, .buttonMedio:hover, .buttonCorto:hover {
        border-color: #4A7729 /*#C1022C*/;
        color: #4A7729/*#C1022C*/;
        box-shadow: rgba(192,2,43,0.7) 0 0 1px 1px inset;
        font-size: 105%;
        font-weight: bold;
    }

    .buttonLargo:focus, .buttonMedio:focus, .buttonCorto:focus {
        border: 1px solid #4A7729 /* #C1022C*/;
        font-size: 105%;
        font-weight: bold;
        color: #4A7729/* #C1022C*/;
    }


tr.ng-scope {
    border: 1px solid #4A7729/* #C1022C*/;
}

/** */
.ug5kdiv
{
    padding: 5px;
    margin-left: 1%; /* 5% */
    margin-right: 1%;
    /*background-color:white;*/
    opacity: 0.75;
    color: blue;
}

.ug5kdivcon
{
    margin: 10px 10px 10px 10px;
}

p.nbxDetail
{
    margin-right: 2em;
    margin-left: 2em;
    margin-top: 0;
    margin-bottom: 2px;
    /***/
    font-size: 80%;
    text-align: left;
}

.nbxtb
{
    width: 90%;
    margin-left: 5%;

}
.nbxtb td
{
    width: 20%;
    font-size: 70%;
}

    .nbxtb td.res
    {
        color: black;
    }

.nbxip {
    padding-top: 8px;
}
    .nbxip p {
        font-size: 80%;
        margin: 0;
        padding: 0;
    }

.mt-1
{
    margin-top: 1em;
}

/**/
.nbx-img-container{
  position: relative;
  text-align: center;
  color: BlueViolet;    
}

.nbx-img-bottom-right {
  position: absolute;
  bottom: 0px;
  right: 2px;
  /*border: 1px solid;*/
}

/** */
a.disabled {
    pointer-events: none;
    cursor: default;
    color: gray;
}

/** Colores para las Frecuencias */
.freqAvailable {
/*    background-color: white;*/
    color: #31708f;
}
.freqDegraded {
    background-color: #ffc266;
    color: #663d00;
}
.freqNotAvailable {
    background-color: #ff8080;
    color: #800000;
}