<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="sacta_proxy.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <applicationSettings>
        <sacta_proxy.Properties.Settings>
            <setting name="ScvServerIp" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="ServerType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DbConnTimeout" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="ScvType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DbConn" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DbRootUser" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="DbRootPwd" serializeAs="String">
                <value>cd40</value>
            </setting>
            <setting name="DbMaxConsecutiveErrors" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="ScvSectInitTimeout" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="ScvSectAckTimeout" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="DepSecAskWindow" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="WebPort" serializeAs="String">
                <value>8091</value>
            </setting>
            <setting name="InternalLanInterface" serializeAs="String">
                <value>192.168.168.1</value>
            </setting>
            <setting name="DataSyncSendingPeriod" serializeAs="String">
                <value>11</value>
            </setting>
            <setting name="DataSyncMaxJitter" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="DataSyncEnable" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DataSyncInternalDelay" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DataSyncListenerSpvPeriod" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="DataSyncMulticastGroup" serializeAs="String">
                <value>224.100.10.1:1030</value>
            </setting>
        </sacta_proxy.Properties.Settings>
    </applicationSettings>
<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient"/>
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.12.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"/>
    </DbProviderFactories>
  </system.data>
</configuration>
