<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <Product Id="*"
           Name="Sacta Proxy"
           Language="1033"
           Version="1.0.1"
           Manufacturer="Amper"
           UpgradeCode="6FE642B4-2544-48FA-8C30-BE78DB7D7661">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." AllowSameVersionUpgrades="yes"/>
    <MediaTemplate EmbedCab="yes" />
    <Property Id="NETFRAMEWORK452">
      <RegistrySearch Id="NetFramework" Root="HKLM" Type="raw" Name="Release" Key="SOFTWARE\Microsoft\NET Framework Setup\NDP\v4\Full"/>
    </Property>
    <Condition Message="Esta aplicacion requiere .NET Framework 4.5.2. Instale .NET Framework 4.5.2 y reintente la instalacion de Ug5kDbBackupService.">
      <![CDATA[Installed OR NETFRAMEWORK452>="#379893"]]>
    </Condition>
    <!--Propiedades  de Configuracion -->
    <Property Id="SCV_TYPE" Value="1" >
      <RegistrySearch Id='SCV_TYPE_Property' Name='SCV_TYPE_Property' Root='HKLM' Key='SOFTWARE\Wix\SACTAPROXY' Type='raw' />
    </Property>
    <Property Id="SERVER_TYPE" Value="1" >
      <RegistrySearch Id='SERVER_TYPE_Property' Name='SERVER_TYPE_Property' Root='HKLM' Key='SOFTWARE\Wix\SACTAPROXY' Type='raw' />
    </Property>
    <Property Id="DB_IP" Value="127.0.0.1" >
      <RegistrySearch Id='DB_IP_Property' Name='DB_IP_Property' Root='HKLM' Key='SOFTWARE\Wix\SACTAPROXY' Type='raw' />
    </Property>
    <Property Id="DB_CONN" Value="0" >
      <RegistrySearch Id='DB_CONN_Property' Name='DB_CONN_Property' Root='HKLM' Key='SOFTWARE\Wix\SACTAPROXY' Type='raw' />
    </Property>
    <Property Id="DB_TIMEOUT" Value="5" >
      <RegistrySearch Id='DB_TIMEOUT_Property' Name='DB_TIMEOUT_Property' Root='HKLM' Key='SOFTWARE\Wix\SACTAPROXY' Type='raw' />
    </Property>
    <Property Id="DB_USER" Value="root" >
      <RegistrySearch Id='DB_USER_Property' Name='DB_USER_Property' Root='HKLM' Key='SOFTWARE\Wix\SACTAPROXY' Type='raw' />
    </Property>
    <Property Id="DB_PWD" Value="pwd" >
      <RegistrySearch Id='DB_PWD_Property' Name='DB_PWD_Property' Root='HKLM' Key='SOFTWARE\Wix\SACTAPROXY' Type='raw' />
    </Property>
    <Property Id="SYNC_IF" Value="127.0.0.1" >
      <RegistrySearch Id='SYNC_IF_Property' Name='SYNC_IF_Property' Root='HKLM' Key='SOFTWARE\Wix\SACTAPROXY' Type='raw' />
    </Property>

    <WixVariable Id="WixUIDialogBmp"  Value="bkg-image.jpg" Overridable="yes"/>
    <WixVariable Id="WixUILicenseRtf" Value="License.rtf" />
    <WixVariable Id="WixUIBannerBmp" Value="banner-image.jpg" Overridable="yes"/>

    <Feature Id="ProductFeature" Title="SactaProxySetup" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
      <ComponentGroupRef Id="license"/>
      <ComponentGroupRef Id="WebAppComponents"/>
      <ComponentRef Id="CreateProgramFolder" />
    </Feature>

    <UIRef Id="MyWixUI_Mondo"/>

  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="COMPANYFOLDER" Name="UlisesV5000">
          <Directory Id="INSTALLFOLDER" Name="SactaProxy" >
            <Component Id="CreateProgramFolder" Guid="{BF514AB6-756D-4EEE-A1AA-098559B9D8FF}">
              <CreateFolder>
                <util:PermissionEx User="Users" GenericAll="yes"  />
              </CreateFolder>
            </Component>
            <Directory Id="LogFolder" Name="logs" />
          </Directory>
        </Directory>
      </Directory>
      <Directory Id="DesktopFolder" Name="Desktop" />
    </Directory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER" Source="..\..\bin\Release">
      <!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
      <!-- <Component Id="ProductComponent"> -->
      <!-- TODO: Insert files, registry keys, and other resources here. -->
      <!-- </Component> -->
      <Component Id ="sacta_proxy_exe" Guid="*">
        <File Id="SactaProxyExe" Name="sacta-proxy.exe"></File>
        <Shortcut Id="dskLink" Directory="DesktopFolder" Name="SactaProxy" WorkingDirectory="INSTALLFOLDER" Advertise="yes" Arguments="-console" ></Shortcut>
        <ServiceInstall
          Id="SrvInstaller"
          Type="ownProcess"
          Name="SactaProxy"
          DisplayName="Sacta Proxy"
          Description="Proxy Sacta"
          Start="auto"
          Account="LocalSystem"
          ErrorControl="ignore"
          Interactive="no">
          <ServiceConfig DelayedAutoStart="yes" OnInstall="yes"  OnReinstall="yes" OnUninstall="no"></ServiceConfig>
          <ServiceDependency Id="dot3svc"/>
          <util:ServiceConfig
                  FirstFailureActionType='restart'
                  SecondFailureActionType='restart'
                  ThirdFailureActionType='restart'
                  RestartServiceDelayInSeconds='30'
                  ResetPeriodInDays='1'/>
        </ServiceInstall>
        <ServiceControl Id="StartService" Start="install" Stop="both" Remove="uninstall" Name="SactaProxy" Wait="yes" />
        <File Id="SactaProxyCfg" Name="sacta-proxy.exe.config"></File>
        <util:XmlFile Id="ScvType" Action="setValue"
                        File = "[#SactaProxyCfg]"
                        ElementPath="/configuration/applicationSettings/sacta_proxy.Properties.Settings/setting[\[]@name='ScvType'[\]]/value"
                        Value="[SCV_TYPE]"/>
        <util:XmlFile Id="ServerType" Action="setValue"
                        File = "[#SactaProxyCfg]"
                        ElementPath="/configuration/applicationSettings/sacta_proxy.Properties.Settings/setting[\[]@name='ServerType'[\]]/value"
                        Value="[SERVER_TYPE]"/>
        <util:XmlFile Id="ScvServerIp" Action="setValue"
                        File = "[#SactaProxyCfg]"
                        ElementPath="/configuration/applicationSettings/sacta_proxy.Properties.Settings/setting[\[]@name='ScvServerIp'[\]]/value"
                        Value="[DB_IP]"/>
        <util:XmlFile Id="DbConn" Action="setValue"
                        File = "[#SactaProxyCfg]"
                        ElementPath="/configuration/applicationSettings/sacta_proxy.Properties.Settings/setting[\[]@name='DbConn'[\]]/value"
                        Value="[DB_CONN]"/>
        <util:XmlFile Id="DbConnTimeout" Action="setValue"
                        File = "[#SactaProxyCfg]"
                        ElementPath="/configuration/applicationSettings/sacta_proxy.Properties.Settings/setting[\[]@name='DbConnTimeout'[\]]/value"
                        Value="[DB_TIMEOUT]"/>
        <util:XmlFile Id="DbUser" Action="setValue"
                        File = "[#SactaProxyCfg]"
                        ElementPath="/configuration/applicationSettings/sacta_proxy.Properties.Settings/setting[\[]@name='DbRootUser'[\]]/value"
                        Value="[DB_USER]"/>
        <util:XmlFile Id="DbPwd" Action="setValue"
                        File = "[#SactaProxyCfg]"
                        ElementPath="/configuration/applicationSettings/sacta_proxy.Properties.Settings/setting[\[]@name='DbRootPwd'[\]]/value"
                        Value="[DB_PWD]"/>
        <util:XmlFile Id="SyncIf" Action="setValue"
                        File = "[#SactaProxyCfg]"
                        ElementPath="/configuration/applicationSettings/sacta_proxy.Properties.Settings/setting[\[]@name='InternalLanInterface'[\]]/value"
                        Value="[SYNC_IF]"/>
      </Component>
      <Component Id ="sacta_proxy_data" Guid="*">
        <!--<File Id="SactaProxyCfg" Name="sacta-proxy-config.json"></File>-->
        <File Id="SactaProxyVer" Name="versiones.json"></File>
      </Component>
      <Component Id ="NLog" Guid="*">
        <File Id="NLogDll" Name="NLog.dll"></File>
        <File Id="NLogCfg" Name="NLog.config"></File>
        <!--<util:RemoveFolderEx Id="RemoveLogFolder" On="uninstall" Property="LogFolder" />-->
      </Component>
      <Component Id ="MySql" Guid="*">
        <File Id="MySqlDataDll" Name="MySql.Data.dll"></File>
      </Component>
      <Component Id ="Newtonsoft.Json" Guid="*">
        <File Id="Newtonsoft.Json" Name="Newtonsoft.Json.dll"></File>
      </Component>
      <Component Id="sp_registry" Guid="*" Permanent="yes">
        <RegistryKey Id="sp_registry_entries" Root="HKLM" Key="SOFTWARE\Wix\SACTAPROXY" Action="create">
          <RegistryValue Name='SCV_TYPE_Property' Value='[SCV_TYPE]' Type='string' />
          <RegistryValue Name='SERVER_TYPE_Property' Value='[SERVER_TYPE]' Type='string' />
          <RegistryValue Name='DB_IP_Property' Value='[DB_IP]' Type='string' />
          <RegistryValue Name='DB_CONN_Property' Value='[DB_CONN]' Type='string' />
          <RegistryValue Name='DB_TIMEOUT_Property' Value='[DB_TIMEOUT]' Type='string' />
          <RegistryValue Name='DB_USER_Property' Value='[DB_USER]' Type='string' />
          <RegistryValue Name='DB_PWD_Property' Value='[DB_PWD]' Type='string' />
          <RegistryValue Name='SYNC_IF_Property' Value='[SYNC_IF]' Type='string' />
        </RegistryKey>
      </Component>
    </ComponentGroup>
  </Fragment>

  <Fragment>
    <ComponentGroup Id='license' Directory='INSTALLFOLDER' Source='.'>
      <Component Id='copying' Guid='{AAAF39D0-FA06-421E-AFB0-2085956D392C}'>
        <File Id='copying_txt' Name='COPYING.txt'></File>
      </Component>
      <Component Id='copyinglesser' Guid='{95E01346-6EAE-49BF-957E-91610C6D7CF4}'>
        <File Id='copyinglesser_txt' Name='COPYING.LESSER.txt'></File>
      </Component>
      <Component Id='copyingauth' Guid='{9EDAB064-6274-44CC-9E49-4B9E9FEBDBAC}'>
        <File Id='copyingauth_txt' Name='COPYING.AUTHORIZATION.txt'></File>
      </Component>
      <Component Id='licenseos' Guid='{B788AEA5-878C-4782-9ADE-DA114DE58B65}'>
        <File Id='licenseos_txt' Name='LICENCIAS DE CODIGO ABIERTO.docx'></File>
      </Component>
    </ComponentGroup>
  </Fragment>

  <!--UI-->
  <Fragment>
    <UI Id="MyWixUI_Mondo">
      <TextStyle Id="WixUI_Font_Normal" FaceName="Tahoma" Size="8" />
      <TextStyle Id="WixUI_Font_Bigger" FaceName="Tahoma" Size="12" />
      <TextStyle Id="WixUI_Font_Title" FaceName="Tahoma" Size="9" Bold="yes" />

      <Property Id="DefaultUIFont" Value="WixUI_Font_Normal" />
      <Property Id="WixUI_Mode" Value="Mondo" />

      <DialogRef Id="ErrorDlg" />
      <DialogRef Id="FatalError" />
      <DialogRef Id="FilesInUse" />
      <DialogRef Id="MsiRMFilesInUse" />
      <DialogRef Id="PrepareDlg" />
      <DialogRef Id="ProgressDlg" />
      <DialogRef Id="ResumeDlg" />
      <DialogRef Id="UserExit" />

      <Publish Dialog="ExitDialog" Control="Finish" Event="EndDialog" Value="Return" Order="999">1</Publish>

      <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="LicenseAgreementDlg">NOT Installed AND NOT PATCH</Publish>
      <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="VerifyReadyDlg">Installed AND PATCH</Publish>

      <Publish Dialog="LicenseAgreementDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg">1</Publish>
      <!--<Publish Dialog="LicenseAgreementDlg" Control="Next" Event="NewDialog" Value="VerifyReadyDlg" Order="2">LicenseAccepted = "1"</Publish>-->
      <Publish Dialog="LicenseAgreementDlg" Control="Next" Event="NewDialog" Value="SactaProxyOptionsDlg" Order="2">LicenseAccepted = "1"</Publish>
      <!--<Publish Dialog="LicenseAgreementDlg" Control="Next" Event="NewDialog" Value="SetupTypeDlg" Order="2">LicenseAccepted = "1"</Publish>-->

      <Publish Dialog="SetupTypeDlg" Control="Back" Event="NewDialog" Value="LicenseAgreementDlg">1</Publish>
      <Publish Dialog="SetupTypeDlg" Control="TypicalButton" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
      <Publish Dialog="SetupTypeDlg" Control="CustomButton" Event="NewDialog" Value="CustomizeDlg">1</Publish>
      <Publish Dialog="SetupTypeDlg" Control="CompleteButton" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>

      <Publish Dialog="CustomizeDlg" Control="Back" Event="NewDialog" Value="MaintenanceTypeDlg" Order="1">WixUI_InstallMode = "Change"</Publish>
      <Publish Dialog="CustomizeDlg" Control="Back" Event="NewDialog" Value="SetupTypeDlg" Order="2">WixUI_InstallMode = "InstallCustom"</Publish>
      <Publish Dialog="CustomizeDlg" Control="Next" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>

      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="CustomizeDlg" Order="1">WixUI_InstallMode = "InstallCustom"</Publish>
      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="SetupTypeDlg" Order="2">WixUI_InstallMode = "InstallTypical" OR WixUI_InstallMode = "InstallComplete"</Publish>
      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="CustomizeDlg" Order="3">WixUI_InstallMode = "Change"</Publish>
      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="MaintenanceTypeDlg" Order="4">WixUI_InstallMode = "Repair" OR WixUI_InstallMode = "Remove"</Publish>
      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg" Order="2">WixUI_InstallMode = "Update"</Publish>

      <Publish Dialog="MaintenanceWelcomeDlg" Control="Next" Event="NewDialog" Value="MaintenanceTypeDlg">1</Publish>

      <Publish Dialog="MaintenanceTypeDlg" Control="ChangeButton" Event="NewDialog" Value="CustomizeDlg">1</Publish>
      <Publish Dialog="MaintenanceTypeDlg" Control="RepairButton" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
      <Publish Dialog="MaintenanceTypeDlg" Control="RemoveButton" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
      <Publish Dialog="MaintenanceTypeDlg" Control="Back" Event="NewDialog" Value="MaintenanceWelcomeDlg">1</Publish>

      <Publish Dialog="SactaProxyOptionsDlg" Control="Back" Event="NewDialog" Value="LicenseAgreementDlg">1</Publish>
      <Publish Dialog="SactaProxyOptionsDlg" Control="Next" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>

      <!--Dialogo de Opciones -->
      <Dialog Id="SactaProxyOptionsDlg" Width="370" Height="270" Title="Instalacion de Sacta Proxy" NoMinimize="yes">
        <Control Id="ScvTypeLabel" Type="Text"     X="45" Y="60" Width="100" Height="10" TabSkip="no" Text="Tipo de SCV" />
        <Control Id="ScvTypeValue" Type="ComboBox" X="45" Y="70" Width="100" Height="18" Property="SCV_TYPE" ComboList="yes" >
          <ComboBox Property="SCV_TYPE">
            <ListItem Value="0" Text="CD30" />
            <ListItem Value="1" Text="Ulises" />
          </ComboBox>
        </Control>
        <Control Id="ServerTypeLabel" Type="Text"     X="205"  Y="60" Width="100" Height="10" TabSkip="no" Text="Tipo de Servidor" />
        <Control Id="ServerTypeValue" Type="ComboBox" X="205"  Y="70" Width="100" Height="18" Property="SERVER_TYPE" ComboList="yes" >
          <ComboBox Property="SERVER_TYPE">
            <ListItem Value="0" Text="Simple" />
            <ListItem Value="1" Text="Dual" />
          </ComboBox>
        </Control>
        <!--*********************************-->
        
        <Control Id="ServerIpLabel" Type="Text" X="45" Y="90" Width="100" Height="10" TabSkip="no" Text="Ip del Servidor SCV" />
        <Control Id="ServerIpValue" Type="Edit" X="45" Y="100" Width="100" Height="18" Property="DB_IP" Text="{20}" />

        <Control Id="InternalIpLabel" Type="Text" X="205" Y="90" Width="100" Height="10" TabSkip="no" Text="Ip LAN Interna">
          <Condition Action="hide"><![CDATA[SERVER_TYPE = "0"]]></Condition>
          <Condition Action="show"><![CDATA[SERVER_TYPE = "1"]]></Condition>
        </Control>
        <Control Id="InternalIpValue" Type="Edit" X="205" Y="100" Width="100" Height="18" Property="SYNC_IF" Text="{20}">
          <Condition Action="hide"><![CDATA[SERVER_TYPE = "0"]]></Condition>
          <Condition Action="show"><![CDATA[SERVER_TYPE = "1"]]></Condition>
        </Control>
        <!--*********************************-->
        
        <Control Id="DbConnLabel" Type="Text"     X="45" Y="120" Width="100" Height="10" TabSkip="no" Text="Conexion a BDT?" />
        <Control Id="DbConnValue" Type="ComboBox" X="45" Y="130" Width="100" Height="18" Property="DB_CONN" ComboList="yes" >
          <ComboBox Property="DB_CONN">
            <ListItem Value="0" Text="No" />
            <ListItem Value="1" Text="Si" />
          </ComboBox>
        </Control>

        <Control Id="DbConnTimeoutLabel" Type="Text" X="205" Y="120" Width="100" Height="10" TabSkip="no" Text="Timeout de Conexion BDT" >
          <Condition Action="hide"><![CDATA[DB_CONN = "0"]]></Condition>
          <Condition Action="show"><![CDATA[DB_CONN = "1"]]></Condition>
        </Control>
        <Control Id="DbConnTimeoutValue" Type="Edit" X="205" Y="130" Width="100" Height="18" Property="DB_TIMEOUT" Text="{4}" >
          <Condition Action="hide"><![CDATA[DB_CONN = "0"]]></Condition>
          <Condition Action="show"><![CDATA[DB_CONN = "1"]]></Condition>
        </Control>

        <Control Id="DbUserLabel" Type="Text" X="45" Y="150" Width="100" Height="10" TabSkip="no" Text="Usuario Base de Datos" >
          <Condition Action="hide"><![CDATA[DB_CONN = "0"]]></Condition>
          <Condition Action="show"><![CDATA[DB_CONN = "1"]]></Condition>
        </Control>
        <Control Id="DbUserValue" Type="Edit" X="45" Y="160" Width="100" Height="18" Property="DB_USER" Text="{32}" >
          <Condition Action="hide"><![CDATA[DB_CONN = "0"]]></Condition>
          <Condition Action="show"><![CDATA[DB_CONN = "1"]]></Condition>
        </Control>

        <Control Id="DbPwdLabel" Type="Text" X="205" Y="150" Width="100" Height="10" TabSkip="no" Text="Clave Base de Datos" >
          <Condition Action="hide"><![CDATA[DB_CONN = "0"]]></Condition>
          <Condition Action="show"><![CDATA[DB_CONN = "1"]]></Condition>
        </Control>
        <Control Id="DbPwdValue" Type="Edit" X="205" Y="160" Width="100" Height="18" Property="DB_PWD" Text="{32}" >
          <Condition Action="hide"><![CDATA[DB_CONN = "0"]]></Condition>
          <Condition Action="show"><![CDATA[DB_CONN = "1"]]></Condition>
        </Control>

        <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="Atras"/>
        <!--<Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="!(loc.WixUICancel)" />-->
        <Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Text="Siguiente" />
        <!--<Condition Action="enable"><![CDATA[SPREAD_NUMBER > 1 AND SPREAD_IPBASE]]></Condition>
          <Condition Action="disable"><![CDATA[NOT SPREAD_NUMBER OR SPREAD_NUMBER < 2 OR NOT SPREAD_IPBASE]]></Condition>
          <Publish Event="DoAction" Value="GenerateSpreadConf"><![CDATA[SPREAD=1]]></Publish>
        </Control>-->

        <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" TabSkip="no" Text="WixUI_Bmp_Banner" />
        <Control Id="Description" Type="Text" X="25" Y="23" Width="280" Height="15" Transparent="yes" NoPrefix="yes">
          <Text></Text>
        </Control>
        <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />
        <Control Id="Title" Type="Text" X="15" Y="6" Width="200" Height="15" Transparent="yes" NoPrefix="yes">
          <Text>Sacta Proxy. Opciones de Instalacion</Text>
        </Control>
        <Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0" />

      </Dialog>
    </UI>



    <UIRef Id="WixUI_Common" />
  </Fragment>

</Wix>
