<div class="panel panel-success">
    <div class="panel-heading ncc-panel">Configuracion</div>
    <div class="panel-body">
        <section id="_tabs">
            <ul class="nav nav-tabs">
                <li data-ng-class="{'active': ctrl.pagina==0}">
                    <a href="" data-ng-click="ctrl.topage(0)" translate>Parametros Generales</a>
                </li>
                <li data-ng-class="{'active': ctrl.pagina==1}">
                    <a href="" data-ng-click="ctrl.topage(1)" translate>Interfaz SCV</a>
                </li>
                <li data-ng-class="{'active': ctrl.pagina==2}">
                    <a href="" data-ng-click="ctrl.topage(2)" translate>Interfaz SACTA</a>
                </li>
            </ul>
        </section>
        <section class="contenido" id="contenido">
            <form name="cfgform" novalidate>

                <div id="cfggen" data-ng-show="ctrl.pagina==0" class="form-group">
                    <!--<h1><strong translate>Parametros Generales</strong></h1>-->
                    <div class="row form-group">
                        <div class="col-md-4"></div>
                        <div class="col-md-3">
                            <label for="wp">Puerto de Servicio WEB</label>
                            <input id="wp" name="wp" type="number" min="1024" max="49000" class="form-control" ng-model="ctrl.config.General.WebPort" required />
                            <span style="color:red" ng-show="cfgform.wp.$dirty && cfgform.wp.$invalid">
                                <span ng-show="cfgform.wp.$error.required">Este campo debe rellenarse</span>
                                <span ng-show="cfgform.wp.$error.min || cfgform.wp.$error.max">Este campo debe estar en rango 1024, 49000</span>
                            </span>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-4"></div>
                        <div class="col-md-3">
                            <label for="ws">Duracion Sesion WEB (m)</label>
                            <input id="ws" name="ws" type="number" min="15" max="60" class="form-control" ng-model="ctrl.config.General.WebActivityMinTimeout" required />
                            <span style="color:red" ng-show="cfgform.ws.$dirty && cfgform.ws.$invalid">
                                <span ng-show="cfgform.ws.$error.required">Este campo debe rellenarse</span>
                                <span ng-show="cfgform.ws.$error.min || cfgform.ws.$error.max">Este campo debe estar en rango 15, 60</span>
                            </span>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-4"></div>
                        <div class="col-md-3">
                            <label for="opt">Logica de Activacion SACTA</label>
                            <div id="opt">
                                <label class="radio-inline">
                                    <input type="radio" ng-model="ctrl.config.General.ActivateSactaLogic" value="AND" />And
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" ng-model="ctrl.config.General.ActivateSactaLogic" value="OR" />Or
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="cfgScv" data-ng-show="ctrl.pagina==1 || ctrl.pagina==2" class="form-group">
                    <!-- Seleccion de Dependencia  -->
                    <div class="row form-group">
                        <div class="col-md-1"></div>
                        <div class="col-md-3" ng-show="ctrl.dep.isdep">
                            <label for="sdep">Seleccione Dependencia</label>
                            <select id="sdep" class="form-control" ng-model="ctrl.selecteddep" ng-change="ctrl.changedep()" ignore-dirty>
                                <option ng-repeat="dep in ctrl.config.Dependencies" value="{{$index}}">{{dep.Id}}</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label for="tic">Tic Presencia</label>
                            <input id="tic" name="tic" type="number" min="1" max="10" class="form-control" ng-model="ctrl.dep.cfg.SactaProtocol.TickAlive" required />
                            <span style="color:red" ng-show="cfgform.tic.$dirty && cfgform.tic.$invalid">
                                <span ng-show="cfgform.tic.$error.required">Este campo debe rellenarse</span>
                                <span ng-show="cfgform.tic.$error.min || cfgform.tic.$error.max">Este campo debe estar en rango 1, 10</span>
                            </span>
                        </div>
                        <div class="col-md-3">
                            <label for="toc">Timeout Presencia</label>
                            <input id="toc" name="toc" type="number" min="20" max="60" class="form-control" ng-model="ctrl.dep.cfg.SactaProtocol.TimeoutAlive" required />
                            <span style="color:red" ng-show="cfgform.toc.$dirty && cfgform.toc.$invalid">
                                <span ng-show="cfgform.toc.$error.required">Este campo debe rellenarse</span>
                                <span ng-show="cfgform.toc.$error.min || cfgform.toc.$error.max">Este campo debe estar en rango 20, 60</span>
                            </span>
                        </div>
                    </div>
                    <hr class="linea"/>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>{{ctrl.dep.isdep ? "Dependencia" : "Proxy"}}</th>
                                <th>{{ctrl.dep.isdep ? "Proxy" : "Scv"}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="row form-group">
                                        <div class="col-md-1"></div>
                                        <div class="col-md-3">
                                            <label for="sdom">Dominio</label>
                                            <input id="sdom" name="sdom" type="number" min="1" max="1" class="form-control" ng-model="ctrl.dep.cfg.SactaProtocol.Sacta.Domain" required />
                                            <span style="color:red" ng-show="cfgform.sdom.$dirty && cfgform.sdom.$invalid">
                                                <span ng-show="cfgform.sdom.$error.required">Este campo debe rellenarse</span>
                                                <span ng-show="cfgform.sdom.$error.min || cfgform.sdom.$error.max">Este campo debe estar en rango 1, 1</span>
                                            </span>
                                        </div>
                                        <div class="col-md-3">
                                            <label for="scen">Centro</label>
                                            <input id="scen" name="scen" type="number" min="100" max="120" class="form-control" ng-model="ctrl.dep.cfg.SactaProtocol.Sacta.Center" required />
                                            <span style="color:red" ng-show="cfgform.scen.$dirty && cfgform.scen.$invalid">
                                                <span ng-show="cfgform.scen.$error.required">Este campo debe rellenarse</span>
                                                <span ng-show="cfgform.scen.$error.min || cfgform.scen.$error.max">Este campo debe estar en rango 100, 120</span>
                                            </span>
                                        </div>
                                        <div class="col-md-3">
                                            <label for="sgrp">Grupo</label>
                                            <input id="sgrp" name="sgrp" type="number" min="1" max="120" class="form-control" ng-model="ctrl.dep.cfg.SactaProtocol.Sacta.PsiGroup" required />
                                            <span style="color:red" ng-show="cfgform.sgrp.$dirty && cfgform.sgrp.$invalid">
                                                <span ng-show="cfgform.sgrp.$error.required">Este campo debe rellenarse</span>
                                                <span ng-show="cfgform.sgrp.$error.min || cfgform.sgrp.$error.max">Este campo debe estar en rango 1, 120</span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-md-1"></div>
                                        <div class="col-md-11">
                                            <label for="spsi">SPSI</label>
                                            <input id="spsi" name="spsi" type="text" class="form-control" ng-model="ctrl.dep.cfg.SactaProtocol.Sacta.Psis" ng-disabled="true" required />
                                            <span style="color:red" ng-show="cfgform.spsi.$dirty && cfgform.spsi.$invalid">
                                                <span ng-show="cfgform.spsi.$error.required">Este campo debe rellenarse</span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-md-1"></div>
                                        <div class="col-md-11">
                                            <label for="sspv">SSPV</label>
                                            <input id="sspv" name="sspv" type="text" class="form-control" ng-model="ctrl.dep.cfg.SactaProtocol.Sacta.Spvs" ng-disabled="true" required />
                                            <span style="color:red" ng-show="cfgform.sspv.$dirty && cfgform.sspv.$invalid">
                                                <span ng-show="cfgform.sspv.$error.required">Este campo debe rellenarse</span>
                                            </span>
                                        </div>
                                    </div>
                                </td>
                                <td style="width:50%;">
                                    <div class="row form-group">
                                        <div class="col-md-1"></div>
                                        <div class="col-md-3">
                                            <label for="vdom">Dominio</label>
                                            <input id="vdom" name="vdom" type="number" min="1" max="1" class="form-control" ng-model="ctrl.dep.cfg.SactaProtocol.Scv.Domain" required />
                                            <span style="color:red" ng-show="cfgform.vdom.$dirty && cfgform.vdom.$invalid">
                                                <span ng-show="cfgform.vdom.$error.required">Este campo debe rellenarse</span>
                                                <span ng-show="cfgform.vdom.$error.min || cfgform.vdom.$error.max">Este campo debe estar en rango 1, 1</span>
                                            </span>
                                        </div>
                                        <div class="col-md-3">
                                            <label for="vcen">Centro</label>
                                            <input id="vcen" name="vcen" type="number" min="100" max="120" class="form-control" ng-model="ctrl.dep.cfg.SactaProtocol.Scv.Center" required />
                                            <span style="color:red" ng-show="cfgform.vcen.$dirty && cfgform.vcen.$invalid">
                                                <span ng-show="cfgform.vcen.$error.required">Este campo debe rellenarse</span>
                                                <span ng-show="cfgform.vcen.$error.min || cfgform.vcen.$error.max">Este campo debe estar en rango 100, 120</span>
                                            </span>
                                        </div>
                                        <div class="col-md-3">
                                            <label for="vusu">Usuario</label>
                                            <input id="vusu" name="vusu" type="number" min="1" max="120" class="form-control" ng-model="ctrl.dep.cfg.SactaProtocol.Scv.Scv" required />
                                            <span style="color:red" ng-show="cfgform.vusu.$dirty && cfgform.vusu.$invalid">
                                                <span ng-show="cfgform.vusu.$error.required">Este campo debe rellenarse</span>
                                                <span ng-show="cfgform.vusu.$error.min || cfgform.vusu.$error.max">Este campo debe estar en rango 1, 120</span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="row form-group" ng-show="ctrl.dep.isdep">
                                        <div class="col-md-1"></div>
                                        <div class="col-md-11">
                                            <label for="vsec">Sectores</label>
                                            <input id="vsec" name="vsec" type="text" class="form-control" ng-model="ctrl.dep.cfg.Sectorization.Sectors" required />
                                            <span style="color:red" ng-show="cfgform.vsec.$dirty && cfgform.vsec.$invalid">
                                                <span ng-show="cfgform.vsec.$error.required">Este campo debe rellenarse</span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="row form-group" ng-show="ctrl.dep.isdep">
                                        <div class="col-md-1"></div>
                                        <div class="col-md-11">
                                            <label for="vpos">Posiciones</label>
                                            <input id="vpos" name="vpos" type="text" class="form-control" ng-model="ctrl.dep.cfg.Sectorization.Positions" required />
                                            <span style="color:red" ng-show="cfgform.vpos.$dirty && cfgform.vpos.$invalid">
                                                <span ng-show="cfgform.vpos.$error.required">Este campo debe rellenarse</span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="row form-group" ng-show="ctrl.dep.isdep">
                                        <div class="col-md-1"></div>
                                        <div class="col-md-11">
                                            <label for="vvir">Sectores Virtuales</label>
                                            <input id="vvir" name="vpos" type="text" class="form-control" ng-model="ctrl.dep.cfg.Sectorization.Virtuals" sector-position />
                                            <span style="color:red" ng-show="cfgform.vvir.$dirty && cfgform.vvir.$invalid">
                                                <span ng-show="{{cfgform.vvir.$valid==false}}">Error de formato</span>
                                            </span>
                                            <p>{{cfgform.vvir.$valid}}</p>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><label>LAN</label></td>
                                <td><label>LAN</label></td>
                            </tr>
                            <tr>
                                <td>
                                </td>
                                <td>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div id="cfgBotones" class="form-group" style="float:right;margin-right:15px;">
                    <input type="submit" class="btn btn-primary" ng-click="ctrl.update()" value="Save" ng-disabled="cfgform.$dirty==false" />
                    <input type="submit" class="btn btn-primary" ng-click="ctrl.reset()" value="Reset" ng-disabled="cfgform.$dirty==false" />
                </div>
            </form>
        </section>
    </div>
</div>
