<div class="panel panel-success">
    <div class="panel-heading ncc-panel">Estado</div>
    <div class="panel-body">
        <section id="_tabs">
            <ul class="nav nav-tabs">
                <li ng-class="{'active': ctrl.pagina==0}">
                    <a href="" ng-click="ctrl.SelectPage(0)" translate>Estado Global</a>
                </li>
                <li ng-class="{'active': ctrl.pagina==1}">
                    <a href="" ng-click="ctrl.SelectPage(1)" translate>Historico</a>
                </li>
            </ul>
        </section>
        <section class="contenido" id="contenido">
            <div id="stdGlobal" ng-show="ctrl.pagina==0">
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <label for="servstd">Estado Global</label>
                        <table id="servstd" class="table">
                            <tr>
                                <td style="width: 15%;" class="text-info"><strong>Modo</strong></td>
                                <td style="width: 15%;">{{ctrl.std().global.server}}</td>
                                <td style="width: 20%;" class="text-info"><strong>Estado</strong></td>
                                <td>{{ctrl.std().global.main ? "Activo" : "Standby"}}</td>
                            </tr>
                            <tr ng-class="ctrl.stds(ctrl.std().Status.service.std).css">
                                <td style="width: 15%;" class="text-info"><strong>Servicio</strong></td>
                                <td style="width: 15%;">{{ctrl.stds(ctrl.std().Status.service.std).txt}}</td>
                                <td style="width: 20%;" class="text-info"><strong>Ultimo Mensaje</strong></td>
                                <td>{{ctrl.std().Status.service.str}}</td>
                            </tr>
                            <tr ng-class="ctrl.stds(ctrl.std().Status.web.std).css">
                                <td style="width: 15%;" class="text-info"><strong>Web</strong></td>
                                <td style="width: 15%">{{ctrl.stds(ctrl.std().Status.web.std).txt}}</td>
                                <td style="width: 20%;" class="text-info"><strong>Ultimo Mensaje</strong></td>
                                <td>{{ctrl.std().Status.web.str}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class=row>
                    <div class="col-md-1"></div>
                    <div class="col-md-5">
                        <label for="sdep">Dependencias</label>
                        <select id="sdep" class="form-control" ng-model="ctrl.seldepindex" ng-change="ctrl.changedep()"
                                ignore-dirty>
                            <option ng-repeat="dep in ctrl.deps()" value="{{$index}}">{{dep.id}}</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <table id="depstd" class="table">
                            <tr>
                                <td style="width: 15%;"></td>
                                <td style="width: 15%;"></td>
                                <td style="width: 20%;"></td>
                                <td style="width: 15%;"></td>
                                <td style="width: 20%;"></td>
                                <td style="width: 15%;"></td>
                            </tr>
                            <tr ng-class="ctrl.stds(ctrl.seldep().status.global_state.std).css">
                                <td class="text-info"><strong>Servicio</strong></td>
                                <td>{{ctrl.stds(ctrl.seldep().status.global_state.std).txt}}</td>
                                <td class="text-info"><strong>Ultimo Mensaje</strong></td>
                                <td colspan="3">{{ctrl.seldep().status.global_state.str}}</td>
                            </tr>
                            <tr ng-class="ctrl.isactive(ctrl.seldep().status.act.global).css">
                                <td><label>Actividad LAN</label></td>
                                <td>{{ctrl.isactive(ctrl.seldep().status.act.global).txt}}</td>
                                <td colspan="2">
                                    <button style="width: 100%;" class="btn btn-default" data-toggle="collapse"
                                            data-target="#lan1-data">
                                        {{ctrl.lanbutton_text(ctrl.seldep(),"Lan1").str}}
                                    </button>
                                    <div style="width: 100%; font-size: 80%;" id="lan1-data" class="collapse collapsable-group"
                                         ng-class="ctrl.isactive(ctrl.seldep().status.act.lan1.ActivityOnLan1).css">
                                        <div class="row">
                                            <div class="col-md-3"><label>Recibe</label></div>
                                            <div class="col-md-6">{{ctrl.seldep().status.act.lan1.listen}}</div>
                                            <div class="col-md-3">{{ctrl.isactive(ctrl.seldep().status.act.lan1.ActivityOnLan1).txt}}</div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3"><label>Transmite</label></div>
                                            <div class="col-md-6">{{ctrl.seldep().status.act.lan1.sendto}}</div>
                                            <div class="col-md-3">{{ctrl.isactive(ctrl.seldep().status.tx).txt}}</div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3"><label>Ultima</label></div>
                                            <div class="col-md-9">{{ctrl.datestr(ctrl.seldep().status.act.lan1.LastActivityOnLan1).str}}</div>
                                        </div>
                                    </div>
                                </td>
                                <td colspan="2">
                                    <button style="width: 100%;" class="btn btn-default" data-toggle="collapse"
                                            data-target="#lan2-data">
                                        {{ctrl.lanbutton_text(ctrl.seldep(),"Lan2").str}}
                                    </button>
                                    <div style="width: 100%; font-size: 80%;" id="lan2-data" class="collapse collapsable-group"
                                         ng-class="ctrl.isactive(ctrl.seldep().status.act.lan2.ActivityOnLan2).css">
                                        <div class="row">
                                            <div class="col-md-3"><label>Recibe</label></div>
                                            <div class="col-md-6">{{ctrl.seldep().status.act.lan2.listen}}</div>
                                            <div class="col-md-3">{{ctrl.isactive(ctrl.seldep().status.act.lan2.ActivityOnLan1).txt}}</div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3"><label>Transmite</label></div>
                                            <div class="col-md-6">{{ctrl.seldep().status.act.lan2.sendto}}</div>
                                            <div class="col-md-3">{{ctrl.isactive(ctrl.seldep().status.tx).txt}}</div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3"><label>Ultima</label></div>
                                            <div class="col-md-9">{{ctrl.datestr(ctrl.seldep().status.act.lan2.LastActivityOnLan2).str}}</div>
                                        </div>
                                    </div>

                                </td>
                            </tr>
                            <tr class="bg-warning text-warning">
                                <td colspan="6">
                                    <button style="width: 100%;" class="btn btn-default" data-toggle="collapse"
                                            data-target="#sect-data">
                                        Actividad SACTA
                                    </button>
                                    <div style="width: 100%;" id="sect-data" class="collapse collapsable-group in">
                                        <div class=row>
                                            <div class="col-md-4">
                                                <label>Ultima Presencia Enviada</label>
                                            </div>
                                            <div class="col-md-8">
                                                {{ctrl.datestr(ctrl.seldep().status.sacta_protocol.LastPresenceSended).str}}
                                            </div>
                                        </div>
                                        <div class=row>
                                            <div class="col-md-4">
                                                <label>Ultima Sectorizacion Recibida</label>
                                            </div>
                                            <div class="col-md-8">
                                                {{ctrl.datestr(ctrl.seldep().sect.LastChange).str}}
                                            </div>
                                        </div>
                                        <div class=row>
                                            <div class="col-md-4">
                                            </div>
                                            <div class="col-md-8">
                                                {{ctrl.sect(ctrl.seldep().sect.Sectorization).str}}
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div id="His" ng-show="ctrl.pagina==1">
                <div class="row"><div class="col-md-12 text-center"><label>Tabla de Incidencias</label></div></div>
                <div class="row">
                    <div class="col-md-12 historic">
                        <table id="history" class="table table-striped table-bordered" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Fecha</th>
                                    <th>Incidencia</th>
                                    <th>Usuario</th>
                                    <th>Dependencia</th>
                                    <th>Estado</th>
                                    <th>Mapa</th>
                                    <th>Causa</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>

            </div>
        </section>
    </div>
</div>