<div class="panel panel-success">
    <div class="panel-heading ncc-panel">Estado</div>
    <div class="panel-body">
        <section id="_tabs">
            <ul class="nav nav-tabs">
                <li ng-class="{'active': ctrl.pagina==0}">
                    <a href="" ng-click="ctrl.pagina=0" translate>Estado Global</a>
                </li>
                <li ng-class="{'active': ctrl.pagina==1}">
                    <a href="" data-ng-click="ctrl.pagina=1" translate>Historico</a>
                </li>
            </ul>
        </section>
        <section class="contenido" id="contenido">
            <div id="stdGlobal" ng-show="ctrl.pagina==0">
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-5">
                        <label for="servstd">Estado Global</label>
                        <table id="servstd" class="table">
                            <tr ng-class="ctrl.stds(ctrl.std().Status.service.std).css">
                                <td style="width: 20%;" class="text-info"><strong>Servicio</strong></td>
                                <td style="width: 20%;" >{{ctrl.stds(ctrl.std().Status.service.std).txt}}</td>
                                <td >{{ctrl.std().Status.service.str}}</td>
                            </tr>
                            <tr ng-class="ctrl.stds(ctrl.std().Status.web.std).css">
                                <td style="width: 20%;" class="text-info"><strong>Web</strong></td>
                                <td style="width: 20%">{{ctrl.stds(ctrl.std().Status.web.std).txt}}</td>
                                <td >{{ctrl.std().Status.web.str}}</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-5">
                        <label for="depstd">Dependencia</label>
                        <table id="depstd" class="table">
                            <tr>
                                <td colspan="3">
                                    <select id="sdep" class="form-control" ng-model="ctrl.seldepindex" ng-change="ctrl.changedep()" ignore-dirty>
                                        <option ng-repeat="dep in ctrl.deps()" value="{{$index}}">{{dep.id}}</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 20%;" class="text-info">{{ctrl.seldepindex}}<strong>{{ctrl.seldep().id}}</strong></td>
                                <td style="width: 20%;">Running</td>
                                <td>LastMessage: </td>
                            </tr>
                            <tr>
                                <td style="width=20%;">Web</td>
                                <td style="width=200%;">Running</td>
                                <td>LastMessage: </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

            <div id="His" ng-show="ctrl.pagina==1">
                <h1><strong translate>Historico</strong></h1>
            </div>

        </section>
    </div>
</div>
