<h3 translate>Generales</h3>
<section id="_tabs">
    <ul class="nav nav-tabs">
        <li data-ng-class="{'active': ctrl.pagina==0}">
            <a href="" data-ng-click="ctrl.pagina=0" translate>Estado Global</a>
        </li>
        <li data-ng-class="{'active': ctrl.pagina==1}">
            <a href="" data-ng-click="ctrl.pagina=1" translate>Sectorizacion SCV</a>
        </li>
        <li data-ng-class="{'active': ctrl.pagina==2}">
            <a href="" data-ng-click="ctrl.pagina=2" translate>Sectorizacion Dependencias</a>
        </li>
    </ul>
</section>
<section id="_contenido">

    <div id="stdGlobal" data-ng-show="ctrl.pagina==0">
        <h1><strong translate>Estado Global</strong></h1>
        <p>{{ctrl.std().Status.service.str}}</p>
    </div>

    <div id="SectScv" data-ng-show="ctrl.pagina==1">
        <h1><strong translate>Sectorizacion del SCV</strong></h1>
    </div>

    <div id="SectDep" data-ng-show="ctrl.pagina==2">
        <h1><strong translate>Sectorizaciones en Dependencias</strong></h1>
    </div>

</section>
